<h2><%= @chatroom.topic %></h2>

<nav class="nav">
  <%= link_to  'All Rooms', chatrooms_path, class: "nav-link" %>
</ul>

<div class="d-flex flex-column justify-content-start message-container">
  <div id="messages" class="message-list list-group px-3">
    <% @chatroom.messages.each do |message| %>
      <div class="message d-flex flex-column list-group-item">
        <span class="mb-3">
          <%= message.user.email %>
        </span>
        <span><%= message.content %></span>
      </div>
    <% end %>
  </div>

  <%= render partial: 'messages/form', locals: { message: @message, chatroom: @chatroom } %>
</div>
